@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

.map {
    margin: 5rem 10rem 5rem 10rem;
    border: solid 1px rgb(187, 185, 185);
    border-radius: 0.3rem;
    padding: 4rem 4rem 4rem 4rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.text{
    font-family: 'Nanum Gothic';
    font-size: 20px;
    margin-bottom: 5rem;
    
}

